<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DefaultConnection"
         connectionString="Server=DESKTOP-5KA5NPS; Database=AssignmentDB;Trusted_Connection=True;Encrypt=False;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>